// Заголовки, общие БЄМ блоки и проче...

.logo {
  img {
    @include adaptiveValue("width", 320, 200);
  }
}

.title {
  font-weight: 600;
  line-height: 1;
  text-align: center;

  @include adaptiveValue("font-size", 72, 36);
}

.page {

  /* .page__page */
  &__page {}

  /* .page__price */
  &__price {}

  /* .page__registration */
  &__registration {}
}

.circle {
  position: absolute;
  z-index: -2;
  border-radius: 50%;
  border-style: solid;
  @include adaptiveValue("border-width", 47, 18);

  /* circle_blue */
  &_blue {
    @include adaptiveValue("width", 482, 185);
    @include adaptiveValue("height", 482, 185);

    border-color: $deepskyBlueColor;
  }

  /* circle_red */
  &_red {
    @include adaptiveValue("width", 386, 130);
    @include adaptiveValue("height", 386, 130);

    border-color: $pastelRedColor;
  }

  /* circle_green */
  &_green {
    @include adaptiveValue("width", 566, 215);
    @include adaptiveValue("height", 566, 215);

    border-color: $yellowGreenColor;
  }

  /* circle_amethyst */
  &_amethyst {
    @include adaptiveValue("width", 290, 110);
    @include adaptiveValue("height", 290, 110);

    border-color: $amethystColor;
  }
}