//====================================================================================================

.footer {
  @include adaptiveValue("padding-bottom", 38, 75);
  @include adaptiveValue("padding-top", 274, 60);

  /* .footer__container */
  &__container {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      @include adaptiveValue("width", 1054, 690);
      @include adaptiveValue("height", 1054, 690);
      @include adaptiveValue("bottom", -287, -297);
      @include adaptiveValue("right", -657, -457);

      background-color: #fff;
      border-radius: 50%;
      z-index: -3;
    }
  }

  /* .footer__logo */
  &__logo {
    position: relative;
    z-index: 10;

    @media (min-width:$tablet) {
      padding-left: rem(98);
    }

    img {
      width: 308px;
    }
  }

  /* .footer__copyright */
  &__copyright {
    @include adaptiveValue("padding-top", 70, 326);

    @media (max-width:$tablet) {
      text-align: center;
    }

    p {
      font-size: rem(16);
      font-weight: 300;
      line-height: math.div(20.51, 16);
    }

  }

  /* .footer__decor */
  &__decor {
    .circle {
      @include adaptiveValue("border-width", 47, 22);

      /* .circle_blue */
      &_blue {
        @include adaptiveValue("width", 482, 228);
        @include adaptiveValue("height", 482, 228);
        @include adaptiveValue("bottom", 351, 107);
        @include adaptiveValue("left", -522, -115);
      }

      /* .circle_red */
      &_red {
        @include adaptiveValue("bottom", 401, 131);
        @include adaptiveValue("left", 2, 131);
        @include adaptiveValue("width", 386, 182);
        @include adaptiveValue("height", 386, 182);
      }

      /* .circle_green */
      &_green {
        @include adaptiveValue("width", 566, 266);
        @include adaptiveValue("height", 566, 266);
        @include adaptiveValue("bottom", -180, -142);
        @include adaptiveValue("left", -76, 97);
      }

      /* .circle_amethyst */
      &_amethyst {
        @include adaptiveValue("width", 290, 134);
        @include adaptiveValue("height", 290, 134);
        @include adaptiveValue("bottom", -43, -77);
        @include adaptiveValue("left", -425, -66);
        bottom: -43px;
        left: -425px;
        bottom: -77px;
        left: -66px;
      }
    }
  }

  /* .footer__image */
  &__image {
    position: absolute;
    bottom: -89px;
    right: -130px;
    bottom: -113px;
    right: 34px;

    img {
      @include adaptiveValue("width", 644, 294);
      @include adaptiveValue("height", 743, 339);

    }
  }
}