//====================================================================================================

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  @include adaptiveValue("padding-top", 39, 30);

  /* .header__container */
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    img {
      @include adaptiveValue("width", 320, 200);
    }
  }

  &__actions {}

  &__link {
    img {
      @include adaptiveValue("width", 56, 45, 768, 360, 1);
    }
  }
}